* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;

}

h2 {
  font: bold 14px sans-serif;
}
body{
  background-color: gray;
}
h1:hover{
  background-color: red
}

header,section,footer, aside, nav, article, hgroup {
    display: block;
}

body {
  text-align: center;
}

.agrupador {
  background: #ecf0f1;
  width: 960px;
  margin: 15px auto;
  
}
.cabecera {
  background: #FFFBB9;
  border: 1px solid #999999;
  padding: 20px;
}

.cabecera h1 {
  text-align: left;
}

.menu {
  background: #2980b9;
  padding: 5px 10px;
  text-align: left;
}

.menu li {
  list-style: none;
  padding: 5px;
  font: bold 14px verdana;
  display: inline-block;
}

.seccion {
  margin: 20px;
  width: 600px;
  float: left;
}

article {
  background: #c0392b;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 15px;
}

time {
  color: antiquewhite;
}

img {
  width: 80px;
  display: block;
  margin: 20px auto;
}

article footer {
  text-align: right;
  margin-top: 15px;
}

.columna {
  width: 300px;
  float: left;
  margin: 20px 0;
}

.columna blockquote {
  border: 1px solid black;
  padding: 30px;
  background: #e74c3c;
}

.pie {
  clear: both;
  padding: 20px;
  background: #d35400;
  color: whitesmoke;
  margin-bottom: 20px; 
}
/*style
      //dentro de esta etiqueta style se usan estos selectores
      //.red {
        //las etiquetas style, id y class se pueden usar para modificar el interfaz de la pagina, id se llama con un # y class con un . 
        //hay un selector universal que se usa con un * para todo el contenido
        //background: black;
        //color: white;
    
      //}
      //blockquote[cite] {
        //asi se maneja el style por atributos
        //background: blue;
      //}
    //</style>*/