* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;

}

h2 {
  font: bold 14px sans-serif;
}
body{
  background-color: gray;
}
h1:hover{
  background-color: red
}

header,section,footer, aside, nav, article, hgroup {
    display: block;
}

body {
  text-align: center;
}

.agrupador {
  background: lightcoral;
  width: 960px;
  margin: 15px auto;
  
}
.header {
  background: #FFFBB9;
  border: 1px solid #999999;
  padding: 20px;
}
/*style
      //dentro de esta etiqueta style se usan estos selectores
      //.red {
        //las etiquetas style, id y class se pueden usar para modificar el interfaz de la pagina, id se llama con un # y class con un . 
        //hay un selector universal que se usa con un * para todo el contenido
        //background: black;
        //color: white;
    
      //}
      //blockquote[cite] {
        //asi se maneja el style por atributos
        //background: blue;
      //}
    //</style>*/